.pic-in-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fpt-logo {
  height: 15%;
  width: 15%;
  object-fit: cover;
}
.avt-thuancross {
  width: 20em;
  object-fit: contain;
}
p {
  text-align: justify;
}
table {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* img {
   width: 100%;
  height: 100%;
  object-fit: cover;
} */
h1 {
  color: blue;
  font-size: 35px;
}

h2 {
  color: red;
}

p {
  color: black;
  font-size: 20px;
}

ol {
  font-size: 20px;
}

table {
  font-size: 20px;
}

button {
  color: red;
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;

}



.table {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  /* Căn giữa bảng theo chiều ngang */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


th,
td {
  padding: 15px;
  border: 1px solid #ddd;
}


th {
  background-color: #a7d8f2;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.join-btn {
  background-color: #01eaff;
  color: rgb(250, 105, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease, transform 0.2s;
}

.join-btn:hover {
  background-color: #95f298;
  transform: scale(1.05);
}

tr:hover {
  background-color: #ddf263;
  transition: background-color 0.3s ease;
}

.highlight-row {
  background-color: #ffe0b2;
  font-weight: bold;
}

.join-btn:active {
  transform: scale(0.95);
  background-color: #8afffd;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.join-btn {
  background-color: rgb(110, 241, 228);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease, transform 0.2s;
}

.join-btn:hover {
  background-color: yellow;
  transform: scale(1.05);
}

.join-btn:active {
  transform: scale(0.9);
  background-color: #3e8e41;
  transition: transform 0.1s ease, background-color 0.1s ease;
}